* {
    margin: 0;
    padding: 0;
}

html,body {
    height:100%;
    width:100%;
    margin:0;
}

body {
    display:flex;
    background-color: #EE7272;
}



.card {
    display: flex;
    margin: auto;
    border: 5px solid black;
    width: 950px;
    min-width: 750px;
    height: 550px;
    background-color: #F6CDCD;
    flex-direction: row;
    background-image:url("img/background-image.gif");
    background-size: cover;
    border-radius: 20px;
}
 

.image {
    opacity: 75%;
}

.rounded {
    border-radius: 10px
}


.form-space {
    display: flex;
    flex-direction: column;
}

.top-space {
    display: flex;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.form-space {
    flex: 2;
}

.bottom-space {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    justify-content: space-around;
    text-decoration: none;
}


a {
    text-decoration:none;
    color: #EA4444;
}


input {
    width:200px;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    margin:10px 0;
    border: 2px solid #eee;
    border-radius:10px;
}

*, *:before, *:after {
    box-sizing: border-box;
  }