* {
    margin: 0;
    padding: 0;
}

html,body {
    height:100%;
    width:100%;
    margin:0;
}

body {
    display:flex;
    background-color: #2e293a;
}

.main-card {
    display: flex;
    margin: auto;
    border: 5px solid black;
    width: 950px;
    height: 550px;
    background-color: #5b4965;
    flex-direction: row;
}


.image {
    opacity: 60%;
}




input {
    margin: 5px;
}

.form-space {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 10px;
}